auto-save-list
.cache
backups
elisp-autofmt-cache
eln-cache
elpa
emojis
eshell
history
init.el
parinfer-rust
places
projectile-bookmarks.eld
recentf
snippets
straight
transient
projectile.cache
request/
